@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: inter;
}

body {
    transition: 0.2s;
}

/* NAV BAR */

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    background-color: white;
    box-sizing: border-box;
    transition: 0.2s;
}

.nav-container a {
    text-decoration: none;
    color: black;
}

.nav-container a:hover {
   border-bottom: 2px solid black;
}

.nav-container ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-container .nav-btn {
    display: flex;
    gap: 10px;
}

.nav-container button {
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px black;
    transition: 0.2s;
}

.nav-container button:hover {
    color: black;
    background-color: white;
}

/* SOBRE */

main {
    width: 100vw;
    height: 100vh;
    padding-top: 140px;
}

.about-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: left;
    align-items: center;
    margin: 0 170px;
}

.about-title {
    font-size: 50pt;
    font-weight: bold;
}

.about-text {
    margin: 10px 0 20px 0;
    font-size: 16pt;
}

.about-container button {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    border: solid 1px black;
    cursor: pointer;
    transition: 0.2s;
}

.about-container button:hover {
    background-color: white;
    color: black;
}

.about-img img {
    width: 400px;
}

/* TRAJETÓRIA */

.journey-title {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}

.journey-item {
    margin: 70px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 50px;
}

.journey-item1 {
    color: white;
    background-color: black;
    padding: 40px;
    border-radius: 30px;
}

.journey-number1 {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.journey-number2 {
    margin-top: 20px;
    font-size: 16pt;
}

/* RODAPÉ CONTATOS */

.contact-container {
    margin: 20px;
    text-align: center;
}

.contact-container a {
    color: black;
}

.contact-email {
    color: black;
    margin: 10px 0;
    font-size: 15pt;
}

.contact-title {
    font-size: 30pt;
    font-weight: bold;
    color: black;
}

.contact-social {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 30pt;
}

/* Modo dark */

body.dark-mode {
    background-color: #121212;
}

body.dark-mode .nav-container {
    background-color: #121212;
}

body.dark-mode .nav-container a {
    color: white;
}

body.dark-mode .nav-container a:hover {
    border-bottom: 2px solid white;
}

body.dark-mode .nav-container button {
    background-color: white;
    color: black;
    border: 1px solid white;
}

body.dark-mode .nav-container button:hover {
    background-color: #121212;;
    color: white;
    border: 1px solid white;
}

body.dark-mode .about-container {
    color: white;
}

body.dark-mode .about-container button {
    color: black;
    background-color: white;
    border: 1px solid white;
}

body.dark-mode .about-container button:hover {
    color: white;
    background-color: #121212;
    border: 1px solid white;
}

body.dark-mode .journey-title {
    color: white;
}

body.dark-mode  .journey-item1 {
    color: black;
    background-color: white;
}

body.dark-mode .contact-title {
    color: white;
}

body.dark-mode .contact-email {
    color: white;
}

body.dark-mode .contact-container a {
    color: white;
}

/* Mobile */

@media (max-width: 400px) {

    /* SOBRE */

    main {
        width: 100vw;
        height: 100vh;
        padding-top: 140px;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        text-align: center;
        align-items: center;
        margin: 0 40px;

    }

    .about-title {
        font-size: 30pt;
        font-weight: bold;
    }

    .about-text {
        margin: 10px 0 20px 0;
        font-size: 14pt;
    }

    .about-img img {
        width: 300px;
    }

    /* TRAJETÓRIA */

    .journey-title {
        font-size: 25pt;
        font-weight: bold;
        text-align: center;
        margin-top: 230px;
    }

    .journey-item {
        margin: 70px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .journey-item1 {
        color: white;
        background-color: black;
        padding: 40px;
        border-radius: 30px;
    }

    .journey-number1 {
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
    }

    .journey-number2 {
        margin-top: 20px;
        font-size: 10pt;
        text-align: center;
    }

    /* RODAPÉ CONTATOS */

    .contact-container {
        margin: 20px;
        text-align: center;
    }

    .contact-container a {
        color: black;
    }

    .contact-email {
        color: black;
        margin: 10px 0;
        font-size: 15pt;
    }

    .contact-title {
        font-size: 25pt;
        font-weight: bold;
        color: black;
    }

    .contact-social {
        display: flex;
        gap: 30px;
        justify-content: center;
        font-size: 30pt;
    }
}
